{% extends 'base/base.html' %}

{% block content %}

        {% if searched %}
                <h1>You Searched For {{ searched }}</h1>
                <br/>
                {% for book in books %}
                        {{book}} - {{book.author}} - {{book.kind}} - {{book.year}} <br/>
                {%endfor%}

        {% else %}
                <h1>Hey! You Forgot to Searched For A Book...</h1>

                
        {% endif %}

        <a href="http://localhost:8000/books/">Back</a>    
{% endblock %}